/* Estilos generales */
body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffeb3b;
}


p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
    color: #f1f1f1;
}
#encabezado {
    background-color: #b6c0ee;
    height: 60px;    
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 10%;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 100px;
}
.menu{
    width: 80%;
    height: 100%;
    background-color: rgb(55, 22, 117);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(26, 186, 169); 
}

.menu ul li{
    float: left;
    color: rgb(11, 202, 195);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #ffffff;
    background-color: rgb(11, 202, 195);
}

.redes{
    width: 10%;
    height: 100%;
    background-color: rgb(111, 196, 132);
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes img {
    width: 40px;
}

#encabezado .encabezado1{
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#encabezado .encabezado2{
    color: beige;

}
#encabezado .encabezado3{
    color: blanchedalmond;
}